<div class="flex flex-col items-center justify-center">
	<div
		class="flex w-full flex-col items-center justify-center space-y-3 border-b-2 border-b-black p-4">
		<a
			class="font-OCRABecker text-2xl underline-offset-0 transition-all hover:text-red-600 hover:underline hover:underline-offset-8"
			href="https://baseconvert.com/ieee-754-floating-point"
			target="_blank">
			float32 to dec
		</a>
	</div>
	<div
		class="flex w-full flex-col items-center justify-center space-y-3 border-b-2 border-b-black p-4">
		<a
			class="font-OCRABecker text-2xl underline-offset-0 transition-all hover:text-red-600 hover:underline hover:underline-offset-8"
			href="links#Text-codes">
			Кодировки
		</a>
		<a
			class="font-OCRABecker text-2xl underline-offset-0 transition-all hover:text-red-600 hover:underline hover:underline-offset-8"
			href="links#disk">
			Диск Фрагменты и тд
		</a>
		<a
			class="font-OCRABecker text-2xl underline-offset-0 transition-all hover:text-red-600 hover:underline hover:underline-offset-8"
			href="links#zip">
			RLE | LZW | HUFFMAN Coding
		</a>
		<a
			class="font-OCRABecker text-2xl underline-offset-0 transition-all hover:text-red-600 hover:underline hover:underline-offset-8"
			href="links#www">
			Сети
		</a>
	</div>

	<div class="prose">
		<h1 id="Text-codes">Кодировки</h1>

		<h5>
			ASCII (American Standard Code for Information
			Interchange):
		</h5>

		<ul>
			<li>
				ASCII представляет каждый символ (буквы, цифры,
				знаки пунктуации и другие символы) с
				использованием 7 или 8 бит.
			</li>
			<li>
				Оригинальная версия ASCII использовала 7 бит,
				что позволяло кодировать 128 различных символов.
				Расширенная версия использует 8 бит, что дает
				256 символов.
			</li>
			<li>
				Например, буква 'A' в ASCII представляется
				числом 65.
			</li>
		</ul>

		<h5>Unicode:</h5>

		<ul>
			<li>
				Unicode является более мощной и универсальной
				системой кодирования, предназначенной для
				представления символов всех языков мира.
			</li>
			<li>
				Каждый символ в Unicode представлен уникальным
				кодом, который может быть представлен 16, 24 или
				32 битами.
			</li>
			<li>
				Это позволяет кодировать огромное количество
				символов, включая символы различных
				письменностей, математические символы, эмодзи и
				многое другое.
			</li>
		</ul>

		<h5>UTF-8 (Unicode Transformation Format - 8-bit):</h5>

		<ul>
			<li>
				UTF-8 является одним из способов представления
				Unicode с использованием переменного числа бит.
			</li>
			<li>
				Он представляет ASCII символы одним байтом, а
				символы, требующие больше бит, представляются
				последовательностью байтов.
			</li>
			<li>
				Это позволяет совмещать совместимость с ASCII и
				поддержку всех символов Unicode.
			</li>
		</ul>
	</div>

	<div class="prose">
		<h1 id="disk">Диски</h1>

		<h4>Сектор:</h4>

		<h5>Определение:</h5>
		Сектор - это минимальная единица данных на жестком диске. Это
		небольшой участок физического диска.

		<h5>Размер:</h5>
		Обычно сектор имеет размер 512 байт, но с развитием технологий
		стали использоваться и бОльшие размеры секторов (например, 4096
		байт).

		<h5>Работа с данными:</h5>
		Операционная система и драйверы диска работают с данными на
		уровне секторов. Это основная единица ввода/вывода для чтения и
		записи информации.
		<h4>Кластер:</h4>
		<h5>Определение:</h5>

		Кластер - это логическая единица данных, состоящая из одного или
		нескольких секторов. Он является минимальным адресуемым блоком
		файловой системы.
		<h5>Уменьшение фрагментации:</h5>
		Файловая система работает с данными на уровне кластеров.
		Использование кластеров помогает уменьшить фрагментацию, так как
		файлы могут занимать целые кластеры.
		<h5>Размер:</h5>

		Размер кластера зависит от выбранной файловой системы и размера
		тома. Например, NTFS может использовать кластеры разного размера
		в зависимости от объема диска.

		<h5>Различие между Секторами и Кластерами:</h5>
		<h6>Уровень:</h6>

		Секторы - это низкоуровневые физические единицы на диске.
		Кластеры - это высокоуровневые логические единицы, используемые
		файловой системой.
		<h6>Обработка:</h6>

		ОС и драйверы работают с данными на уровне секторов при
		взаимодействии с физическим диском. Файловая система оперирует
		кластерами при управлении файлами и структурой диска.
		<h6>Фрагментация:</h6>
		Использование кластеров помогает управлять фрагментацией на
		уровне файловой системы.

		<h5>Физическое форматирование:</h5>

		<ul>
			<li>
				На этом этапе происходит создание треков и
				секторов на физическом диске. Этот процесс
				обеспечивает физическую структуру, где данные
				будут храниться.
			</li>
		</ul>

		<h5>Логическое форматирование (или разметка):</h5>

		<ul>
			<li>
				Этот этап включает в себя создание файловой
				системы на основе предварительно определенных
				параметров, таких как размер кластера.
			</li>
			<li>
				Во время логического форматирования операционная
				система определяет, какие участки диска будут
				использоваться для служебных целей (например,
				для MFT в NTFS) и как будет организована
				структура файлов и каталогов.
			</li>
			<li>
				Файловая система распределяет пространство на
				диске в кластеры. Каждый кластер обозначается
				определенным количеством физических секторов.
			</li>
		</ul>

		<h5>Создание таблицы файловой системы:</h5>

		<ul>
			<li>
				На этом этапе создается таблица файловой
				системы, которая содержит информацию о каждом
				файле и его расположении на диске. Также в эту
				таблицу включаются информация о свободном и
				занятом пространстве.
			</li>
		</ul>

		<h5>Выбор размера кластера:</h5>

		<ul>
			<li>
				При форматировании диска определяется размер
				кластера, который зависит от параметров, таких
				как объем диска и требования к файловой системе.
			</li>
		</ul>
	</div>

	<div class="prose">
		<h1 id="zip">Zips algorithms</h1>
		<h5>RLE (Run-Length Encoding):</h5>

		<ul>
			<li>
				RLE — это метод сжатия данных, который
				заключается в кодировании последовательностей
				одинаковых символов (повторяющихся "бегущих
				длин") одним символом и указанием количества
				повторений. Пример: "AAAABBBCCDAA" может быть
				закодировано как "4A3B2C1D2A".
			</li>
		</ul>
		<h5>LZW (Lempel-Ziv-Welch):</h5>
		<ul>
			<li>
				LZW — это алгоритм сжатия данных, который
				основан на построении словаря из уже встреченных
				последовательностей. Когда новая
				последовательность появляется, она добавляется в
				словарь, а затем кодируется более коротким
				кодом. Этот алгоритм широко используется,
				например, в форматах сжатия изображений, таких
				как GIF.
			</li>
		</ul>

		<h5>Алгоритм Хаффмана:</h5>
		<ul>
			<li>
				Алгоритм Хаффмана — это метод сжатия данных,
				использующий переменные длины кодов для
				представления символов. Часто используется для
				построения оптимальных префиксных кодов. Он
				основан на идее присвоения более коротких кодов
				более часто встречающимся символам. Алгоритм
				Хаффмана широко применяется в сжатии файлов и
				является частью таких форматов, как ZIP, JPEG и
				MP3.
			</li>
		</ul>
	</div>

	<div class="prose">
		<h1 id="www">Сети</h1>
		<h4>Отправка пакетов:</h4>
		<h5>Фрагментация:</h5>

		<h3>
			Если размер передаваемого сообщения (данных) превышает
			максимальный размер пакета, используемый на данном
			уровне сетевой модели (например, в модели OSI), данные
			могут быть разделены на фрагменты или пакеты меньшего
			размера.
		</h3>

		<h5>Добавление заголовка:</h5>

		Каждый пакет получает заголовок, который содержит информацию о
		направлении, источнике, назначении, типе данных и других
		параметрах. Заголовок добавляется к данным для формирования
		полного пакета.
		<h5>Передача пакета:</h5>
		Полные пакеты передаются по сети от отправителя к получателю.
		Процесс передачи может включать несколько уровней сетевой модели
		(например, уровни OSI).

		<h4>Размеры пакетов:</h4>

		<h5>Маленькие пакеты (Small Packets):</h5>

		Использование маленьких пакетов обычно подходит для данных с
		высоким приоритетом, где важна низкая задержка. Это может быть
		важно для таких приложений, как онлайн-игры или VoIP.
		<h5>Большие пакеты (Large Packets):</h5>
		Использование больших пакетов обычно применяется для передачи
		больших объемов данных, таких как файлы или видеопотоки. Это
		помогает уменьшить накладные расходы, связанные с отправкой
		большого количества маленьких пакетов.

		<h4>Протоколы передачи данных:</h4>
		<h5>TCP (Transmission Control Protocol):</h5>

		TCP является протоколом, обеспечивающим надежную и упорядоченную
		передачу данных. Он разбивает данные на пакеты, добавляет
		заголовки, нумерует их и следит за порядком их доставки.
		<h5>UDP (User Datagram Protocol):</h5>
		UDP является более простым протоколом без установления
		соединения и гарантии доставки. Он обычно используется для
		приложений, где важна минимальная задержка, и потеря данных
		может быть допустимой.
		<h5>IP (Internet Protocol):</h5>
		IP является протоколом маршрутизации, который обеспечивает
		доставку пакетов от отправителя к получателю. Он добавляет
		IP-адреса в заголовки для идентификации и маршрутизации.
		<h5>Ethernet:</h5>
		Ethernet - это технология сетевого доступа, которая определяет
		формат кадра данных и механизм доступа к среде передачи данных.
	</div>
</div>
