<footer [class]="footer_class">
	<div
		class="container mx-auto px-4 px-4 py-12 sm:px-6 lg:px-12 xl:px-20">
		<div class="flex flex-col items-center justify-center">
			<div class="font-TypeWriter text-4xl text-sky-700">
				{{ env.global.kAppName | lowercase }}
			</div>
			<div
				class="mt-8 flex flex-wrap items-center justify-center gap-8 sm:gap-10"></div>
			<div class="mt-6 flex items-center">
				<p class="text-base leading-4 text-sky-700">
					2024-2025
					<a
						[href]="
							'https://github.com/' +
							env.global
								.kAppAuthorLink
						"
						class="font-TypeWriter underline-offset-0 transition-all hover:text-red-600 hover:underline hover:underline-offset-8"
						target="_blank">
						{{
							env.global.kAppAuthor
								| lowercase
						}}
					</a>
				</p>
				<div class="ml-2 border-l border-sky-700 pl-2">
					<p
						class="text-base leading-4 text-sky-700">
						{{
							"footer.all-rights-reversed"
								| translate
						}}
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
