<div>
	<div
		*ngIf="bShowMenu"
		class="flex w-full flex-col items-center justify-center">
		<a
			*ngFor="let item of items"
			[routerLink]="item.path"
			class="z-10 flex w-1/3 justify-center border-x-4 border-custom-indigo bg-custom-black py-3 text-xl text-white shadow-custom-pink-light transition-all duration-[400ms] ease-in-out first:rounded-t-xl first:border-t-2 last:rounded-b-xl last:border-b-2 hover:z-50 hover:translate-x-8 hover:translate-y-0.5 hover:bg-custom-indigo">
			{{ item.name }}
		</a>
	</div>
	<div class="container prose mx-auto">
		<router-outlet />
	</div>
</div>
